:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --inactive: rgb(161, 161, 161);
    --accent-color: red;
    --checkbox-color: #6699ff;

  
    --main-text-color: #000;

    
    --first-brand-color: #76917c;
    --first-brand-color: #a8bead;
    --second-brand-color: #c6c9bc;
    --third-brand-color: #cead98;
    --fourth-brand-color: #e7e6e0;


    --main-font: 'Inter';
    --title-font: 'Inter Bold';
    --main-title-font: 'Grechen Fuemen';
    
    font-size: 62.5%;
}